<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Merienda:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "DM Serif Text", serif;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 34%, rgba(0, 16, 60, 1) 68%, rgba(0, 3, 20, 1) 100%);
    background-size: cover;
    overflow-x: hidden;
}

.container {
    max-width: 1180px;
    overflow: hidden;
    margin: auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    z-index: 99;
    align-items: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 34%, rgba(0, 16, 60, 1) 68%, rgba(0, 3, 20, 1) 100%);
    font-family: "Merienda", cursive;
}

.nav-links ul {
    gap: 16px;
    font-size: 1.2rem;
}

.nav-links ul li a {
    font-weight: 300;
    color: #fefae0;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}


.nav-toggle
{
    display: none;
}

.nav-toggle i{
    color: white;
}

.company-logo img {
    width: 240px;
}

.search-bar {
    height: 32px;
    gap: 12px;
}

.search-bar input {
    border-radius: 5px;
    height: 25px;
    padding: 8px 24px;
    width: 200px;
    height: 100%;
    border: 1px solid white;
    background: transparent;
    color: white !important;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button {
    background: transparent;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid cyan;
}

.parallax {
    margin-top: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    pointer-events: none;
}

#building {
    z-index: 20;
}

#news-text {
    width: 200px;
    position: absolute;
    left: 700px;
    top: 40px;
    z-index: 90;
    animation: text 5s linear;
    animation-timeline: view();
    transform: translateX(1235px);
}

@keyframes text {
    100% {
        transform: translateX(-800px);
    }
}

#bhurjkhalifa {
    position: absolute;
    animation: bhurj 5s linear;
    animation-timeline: view();
    transform: translateY(-540px);
}

@keyframes bhurj {
    100% {
        transform: translateY(700px);
    }
}

#stars {
    position: absolute;
    animation: star 5s linear;
    animation-timeline: view();
    transform: translateY(-50px);
}

@keyframes star {
    100% {
        transform: translateY(600px);
    }
}

#moon {
    width: 120px;
    position: absolute;
    left: 340px;
    top: 50px;
    animation: moon-ani 4s linear;
    animation-timeline: view();
    transform: translateY(-100px);
    z-index: 0;
}

@keyframes moon-ani {
    100% {
        transform: translateY(200px);
    }
}

#tajmahal {
    width: 500px;
    z-index: 30;
    position: absolute;
    top: 375px;
    left: 450px;
}

#liberty {
    width: 200px;
    position: absolute;
    left: 1010px;
    animation: liberty-ani 2s ease-in-out;
    transform: translateY(-120px);
}

@keyframes liberty-ani {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(-120px);
    }
}

#temple {
    /* z-index: 30; */
    width: 300px;
    position: absolute;
    top: 200px;
    left: 420px;
    animation: temple-animation 2s ease-in-out;
    transform: translateY(-150px);
}

@keyframes temple-animation {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(-150px);
    }
}

#woman {
    z-index: 30;
    width: 150px;
    position: absolute;
    top: 530px;
    left: 100px;
    animation: woman 0.1s;
    animation-timeline: view();
    opacity: 1;
}

@keyframes woman {
    0% {
        opacity: -1;
    }

    70% {
        opacity: 1;
    }
}

#punjabi {
    z-index: 30;
    width: 180px;
    position: absolute;
    top: 510px;
    left: 1000px;
    animation: punjabi 0.1s;
    animation-timeline: view();
    opacity: 1;
}

@keyframes punjabi {
    0% {
        opacity: -1;
    }

    70% {
        opacity: 1;
    }
}

#abroad-dance {
    z-index: 30;
    width: 300px;
    position: absolute;
    top: 570px;
    left: 500px;
    animation: abroad 0.1s;
    animation-timeline: view();
    opacity: 1;
}

@keyframes abroad {
    0% {
        opacity: -1;
    }

    70% {
        opacity: 1;
    }
}

#hoarding {
    width: 450px;
    position: absolute;
    left: -10px;
    animation: hoarding-ani 2s linear;
    transform: translateY(-110px);
}

@keyframes hoarding-ani {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(-110px);
    }
}

video {
    width: 250px;
    height: 140px;
    position: absolute;
    top: -10px;
    left: 86px;
    animation: vid-ani 2s linear;
    transform: translateY(-8px);
}

@keyframes vid-ani {
    0% {
        transform: translateY(400px);
    }

    100% {
        transform: translateY(-8px);
    }
}

#unity-statue {
    width: 150px;
    position: absolute;
    left: 5px;
    top: 320px;
    animation: unity-ani 2s;
    opacity: 1;
}

@keyframes unity-ani {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.sec {
    width: 100%;
    position: relative;
    padding: 100px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 34%, rgba(0, 16, 60, 1) 68%, rgba(0, 3, 20, 1) 100%);
    font-family: "Merienda", cursive;
}

.sec h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
    font-family: "DM Serif Text", serif;
}

.sec h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "DM Serif Text", serif;
}

.sec p {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heading-1,
.heading-2 {
    animation: color-cycle 4s infinite;
}

@keyframes color-cycle {
    0% {
        color: #fdca40;
    }

    25% {
        color: #e71d36;
    }

    50% {
        color: #7ae582;
    }

    75% {
        color: #4cc9f0;
    }

    100% {
        color: #dc2f02;
    }
}

/* main part of website */

main {
    padding-block: 10px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(to top left, #202083ce, #040008);
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0px -5px 10px white;
    transform: translateY(-5px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    /* margin to top and bottom */
    margin-block: 12px;
}

.hover-links:hover {
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    border-radius: 40px;
    padding: 5px;
    color: #90e0ef;
    transition: all 0.3s ease;
}

.active {
    background: linear-gradient(to top right, #fa003f, #f34c76, #7209b7);
    border-radius: 40px;
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    padding: 5px;
    transition: all 0.5s ease;
=======
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Merienda:wght@400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@500&display=swap');


html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

:root {
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
}

body {
    font-family: "DM Serif Text", serif;
    width: 100vw;
    background: rgb(0, 0, 0);
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 34%, rgba(0, 16, 60, 1) 68%, rgba(0, 3, 20, 1) 100%);
    background-size: cover;
    overflow-x: hidden;
}

.container {
    max-width: 1180px;
    overflow: hidden;
    margin: auto;
}

.flex {
    display: flex;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.main-nav {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100px;
    justify-content: space-around;
    z-index: 99;
    align-items: center;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 34%, rgba(0, 16, 60, 1) 68%, rgba(0, 3, 20, 1) 100%);
    font-family: "Merienda", cursive;
}

.nav-links ul {
    gap: 16px;
    font-size: 1.2rem;
}

.nav-links ul li a {
    font-weight: 300;
    color: #fefae0;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
}


.nav-toggle
{
    display: none;
}

.nav-toggle i{
    color: white;
}

.company-logo img {
    width: 240px;
}

.search-bar {
    height: 32px;
    gap: 12px;
}

.search-bar input {
    border-radius: 5px;
    height: 25px;
    padding: 8px 24px;
    width: 200px;
    height: 100%;
    border: 1px solid white;
    background: transparent;
    color: white !important;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.search-button {
    background: transparent;
    padding: 8px 24px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: 2px solid cyan;
}

.parallax {
    margin-top: 180px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    pointer-events: none;
}

#building {
    z-index: 20;
}

#news-text {
    width: 200px;
    position: absolute;
    left: 700px;
    top: 40px;
    z-index: 90;
    animation: text 5s linear;
    animation-timeline: view();
    transform: translateX(1235px);
}

@keyframes text {
    100% {
        transform: translateX(-800px);
    }
}

#bhurjkhalifa {
    position: absolute;
    animation: bhurj 5s linear;
    animation-timeline: view();
    transform: translateY(-540px);
}

@keyframes bhurj {
    100% {
        transform: translateY(700px);
    }
}

#stars {
    position: absolute;
    animation: star 5s linear;
    animation-timeline: view();
    transform: translateY(-50px);
}

@keyframes star {
    100% {
        transform: translateY(600px);
    }
}

#moon {
    width: 120px;
    position: absolute;
    left: 340px;
    top: 50px;
    animation: moon-ani 4s linear;
    animation-timeline: view();
    transform: translateY(-100px);
    z-index: 0;
}

@keyframes moon-ani {
    100% {
        transform: translateY(200px);
    }
}

#tajmahal {
    width: 500px;
    z-index: 30;
    position: absolute;
    top: 375px;
    left: 450px;
}

#liberty {
    width: 200px;
    position: absolute;
    left: 1010px;
    animation: liberty-ani 2s ease-in-out;
    transform: translateY(-120px);
}

@keyframes liberty-ani {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(-120px);
    }
}

#temple {
    /* z-index: 30; */
    width: 300px;
    position: absolute;
    top: 200px;
    left: 420px;
    animation: temple-animation 2s ease-in-out;
    transform: translateY(-150px);
}

@keyframes temple-animation {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(-150px);
    }
}

#woman {
    z-index: 30;
    width: 150px;
    position: absolute;
    top: 530px;
    left: 100px;
    animation: woman 0.1s;
    animation-timeline: view();
    opacity: 1;
}

@keyframes woman {
    0% {
        opacity: -1;
    }

    70% {
        opacity: 1;
    }
}

#punjabi {
    z-index: 30;
    width: 180px;
    position: absolute;
    top: 510px;
    left: 1000px;
    animation: punjabi 0.1s;
    animation-timeline: view();
    opacity: 1;
}

@keyframes punjabi {
    0% {
        opacity: -1;
    }

    70% {
        opacity: 1;
    }
}

#abroad-dance {
    z-index: 30;
    width: 300px;
    position: absolute;
    top: 570px;
    left: 500px;
    animation: abroad 0.1s;
    animation-timeline: view();
    opacity: 1;
}

@keyframes abroad {
    0% {
        opacity: -1;
    }

    70% {
        opacity: 1;
    }
}

#hoarding {
    width: 450px;
    position: absolute;
    left: -10px;
    animation: hoarding-ani 2s linear;
    transform: translateY(-110px);
}

@keyframes hoarding-ani {
    0% {
        transform: translateY(300px);
    }

    100% {
        transform: translateY(-110px);
    }
}

video {
    width: 250px;
    height: 140px;
    position: absolute;
    top: -10px;
    left: 86px;
    animation: vid-ani 2s linear;
    transform: translateY(-8px);
}

@keyframes vid-ani {
    0% {
        transform: translateY(400px);
    }

    100% {
        transform: translateY(-8px);
    }
}

#unity-statue {
    width: 150px;
    position: absolute;
    left: 5px;
    top: 320px;
    animation: unity-ani 2s;
    opacity: 1;
}

@keyframes unity-ani {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.sec {
    width: 100%;
    position: relative;
    padding: 100px;
    background: linear-gradient(45deg, rgba(0, 0, 0, 1) 34%, rgba(0, 16, 60, 1) 68%, rgba(0, 3, 20, 1) 100%);
    font-family: "Merienda", cursive;
}

.sec h1 {
    font-size: 3rem;
    color: white;
    margin-bottom: 10px;
    font-family: "DM Serif Text", serif;
}

.sec h2 {
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: "DM Serif Text", serif;
}

.sec p {
    color: white;
    font-size: 1.4rem;
    font-weight: 500;
}

.hero-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heading-1,
.heading-2 {
    animation: color-cycle 4s infinite;
}

@keyframes color-cycle {
    0% {
        color: #fdca40;
    }

    25% {
        color: #e71d36;
    }

    50% {
        color: #7ae582;
    }

    75% {
        color: #4cc9f0;
    }

    100% {
        color: #dc2f02;
    }
}

/* main part of website */

main {
    padding-block: 10px;
}

.cards-container {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    align-items: start;
}

.card {
    width: 360px;
    min-height: 400px;
    cursor: pointer;
    overflow: hidden;
    background: linear-gradient(to top left, #202083ce, #040008);
    color: white;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.card:hover {
    box-shadow: 0px -5px 10px white;
    transform: translateY(-5px);
}

.card-header img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 12px;
}

.news-source {
    /* margin to top and bottom */
    margin-block: 12px;
}

.hover-links:hover {
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    border-radius: 40px;
    padding: 5px;
    color: #90e0ef;
    transition: all 0.3s ease;
}

.active {
    background: linear-gradient(to top right, #fa003f, #f34c76, #7209b7);
    border-radius: 40px;
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    padding: 5px;
    transition: all 0.5s ease;
>>>>>>> origin/main
}